@import "./global/global.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  color: $black;
  background: $off-white;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, Helvetica Neue, Helvetica, Segoe UI, Arial, Noto Sans,
    Liberation Sans, system-ui, -apple-system, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-bottom: 40px;
}

#app {
  max-width: 1280px;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  footer {
    margin-top: auto;
  }

  #app {
    display: flex;
    padding: 3rem 2rem;
  }
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: $brand-color;
  text-align: center;
  align-content: center;

  img {
    height: 36px;
  }
}
